<div class="jumbotron form-custom">
	<h1> Coin Combination</h1>

	<p>Enter the amount on cents in the box bellow and press <strong>Enter</strong> to get the optimal Coin Combination.</p>

	<form action="/result">
		<div class="form-group">
			<label for="user_cents">Type the amount of cents</label>
			<input type="text" name="user_cents" id="user_cents" class="form-control">
		</div>
		<button type="submit" class="btn btn-info btn-md">Enter</button>
	</form>
</div>