<div class="jumbotron">
	<h1>Coin Combination</h1>

	<p>Your Coin Combination is <%= @user_quarters %> quarters, <%= @user_dimes %> dimes, <%= @user_nickels %> nickels and <%= @user_pennies %> pennies.</p>
</div>